<div class="d-flex flex-wrap position-absolute top-0 start-0 translate-middle p-2 bg-transparent"
     style="max-width: fit-content;">
    <button class="d-flex align-items-center justify-content-center text-white rounded-pill border-0"
            style="background-color: #3c77ff; height: 50px; width: 50px" onclick="window.history.back()">
        <!--        <img src="/images/back.svg" alt="back" style="background-color: #3c77ff; border-radius: 50%"/>-->
        <i class="fa-solid fa-arrow-turn-up fa-rotate-270 fs-4"></i>
    </button>
</div>