<style>
  #profile-card .dropdown-toggle:hover {
    background-color: #e9ecef;
    color: var(--Dark);
  }

  #profile-card .dropdown-menu {
    border-radius: 0.5rem;
    border: none;
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.15);
    width: auto !important;
  }
</style>

<div class="position-absolute top-0 start-100 translate-middle p-2 bg-light z-3" style="width: fit-content" id="profile-card">
  <div class="card d-flex flex-sm-row align-items-center p-2 shadow profile-card text-nowrap dropdown-toggle" style="border-radius: 0.5rem" role="button" data-bs-toggle="dropdown">
    <i class="fa fa-user-circle fa-2x" aria-hidden="true"></i>
    <div class="ps-2 d-flex flex-sm-column">
      <p class="h6 mb-0">
        <%= user.username || "Username" %>
      </p>
      <p class="h6 mb-0 fw-lighter">
        <% if (user.username === "admin") {%>
        Sở VH-TT
        <% } else if (user.position === 1) { %>
        Cán bộ Quận
        <% } else { %>
        Cán bộ Phường
        <% } %>
      </p>
    </div>
  </div>
  <ul class="dropdown-menu">
    <li><a class="dropdown-item" href="<%= `/${url.split('/')[1]}/officier/${user.username}` %>">Chỉnh sửa thông tin</a></li>
    <li><a class="dropdown-item" href="#" data-bs-target="#changePassModal" data-bs-toggle="modal">Đổi mật khẩu</a></li>
    <li><a class="dropdown-item" href="/logout">Đăng xuất</a></li>
  </ul>
</div>



<!-- Change password modal -->
<div class="modal fade" id="changePassModal" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content rounded-4">
          <div class="modal-header pb-3 border-0 position-relative text-center justify-content-center">
              <button type="button"
                      class="btn-close position-absolute top-0 end-0 mt-2 me-2 bg-light shadow-sm border rounded-pill"
                      data-bs-target="#loginModal" data-bs-toggle="modal" data-bs-dismiss="modal"
                      aria-label="Close"></button>
              <h5 class="modal-title mx-auto pb-2 text-center fw-bold text-uppercase fs-3">Thay đổi mật khẩu</h5>
          </div>
          <div class="modal-body border-0">
              <form id="changePassForm">
                  <div id="change-password-success" class="alert alert-success" hidden>
                      Cập nhật mật khẩu thành công
                  </div>
                  <div id="change-password-error" class="alert alert-danger" hidden>
                      Cập nhật mật khẩu thất bại
                  </div>
                  <input type="text" id="username-change" value="<%= user.username %>" hidden>
                  <div class="mb-3 form-floating">
                      <input type="password" id="password-change" class="form-control" placeholder="Nhập mật khẩu cũ"
                             name="password"
                             required>
                      <label for="password-change" class="form-label">Mật khẩu cũ<span
                                  class="text-danger">*</span></label>
                  </div>
                  <div class="mb-3 form-floating">
                      <input type="password" id="password1-change" class="form-control" placeholder="Nhập mật khẩu mới"
                             name="password1"
                             required>
                      <label for="password1-change" class="form-label">Mật khẩu mới<span
                                  class="text-danger">*</span></label>
                  </div>
                  <div class="form-floating">
                      <input type="password" id="password2-change" class="form-control"
                             placeholder="Nhập lại mật khẩu mới"
                             name="password2"
                             required>
                      <label for="password2-change" class="form-label">Nhập lại mật khẩu mới<span
                                  class="text-danger">*</span></label>
                  </div>
              </form>
          </div>
          <div class="modal-footer d-flex flex-row justify-content-around bg-transparent border-0">
              <button class="btn flex-fill" style="min-width: 6.5rem; color: #f7fafc; background-color: #e84747"
                      data-bs-target="#verifyCodeModal" data-bs-toggle="modal" data-bs-dismiss="modal">
                  Quay lại
              </button>
              <button class="btn flex-fill" style="min-width: 6.5rem; color: #f7fafc; background-color: #60C98B"
                      onclick="changePassHandler(event)">
                  Xác nhận
              </button>
          </div>
      </div>
  </div>
</div>

<!-- Scrip để thay đổi mật khẩu -->
<script defer>
  const changePassHandler = async (event) => {
    event.preventDefault();
    const password = document.getElementById('password-change').value;
    const password1 = document.getElementById('password1-change').value;
    const password2 = document.getElementById('password2-change').value;
    const username = '<%= user.username %>'

    console.log("Username: ", username);

    if (password === '' || password1 === '' || password2 === '') {
      alert('Vui lòng nhập đầy đủ thông tin');
      return;
    }

    if (password1 !== password2) {
      alert('Mật khẩu mới không khớp');
      return;
    }
    const response = await fetch('/change-password', {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json'
      },
      body: JSON.stringify({ username, oldPassword: password, newPassword: password1 })
    });
    if (response.status === 200) {
      const msg = await response.json();
      const changePassSuccess = document.getElementById('change-password-success');
      changePassSuccess.innerText = msg.message;
      changePassSuccess.hidden = false;
      // clear form
      document.getElementById('password-change').value = '';
      document.getElementById('password1-change').value = '';
      document.getElementById('password2-change').value = '';
      setTimeout(() => {
        changePassSuccess.hidden = true;
        bootstrap.Modal.getInstance(document.getElementById('changePassModal')).hide();
      }, 3000);
    } else {
      const msg = await response.json();
      const changePassError = document.getElementById('change-password-error');
      changePassError.innerText = msg.message;
      changePassError.hidden = false;
      setTimeout(() => {
        changePassError.hidden = true;
      }, 3000);
    }
  }
</script>
