<div class="position-absolute top-0 start-100 translate-middle p-2 bg-light" style="width: fit-content">
  <div
    class="card d-flex flex-sm-row align-items-center p-2 shadow profile-card text-nowrap"
    style="border-radius: 0.5rem">
    <i class="fa fa-user-circle fa-2x" aria-hidden="true"></i>
    <div class="ps-2 d-flex flex-sm-column">
      <p class="h6 mb-0">
        admin
      </p>
      <p class="h6 mb-0 fw-lighter">
        Sở VH-TT
      </p>
    </div>
  </div>
</div>
