<a role="button"
   class="text-decoration-none mx-3"
   onclick="<%= removeHandler %>(event, '<%= url %>') "
   href='<%= url %>'>
    <img src="/images/remove.svg" alt="Edit" class="bg-transparent">
</a>