<a role="button"
   class="text-decoration-none mx-3 remove-button"
   onclick="<%= removeHandler %>(event, '<%= url %>')"
   data-bs-url="<%= url %>"
   href="<%= url %>" >
    <img src="/images/remove.svg" alt="Edit" class="bg-transparent">
</a>
