<!DOCTYPE html>
<html lang="vi">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title><%- title %></title>
  <%- include("../partials/head.ejs"); %>
</head>

<body>
  <header></header>
  <main class="container-fluid d-flex bg-light">
    <div class="row"><%- include("../partials/sidebar.ejs", {toolbars: toolbars}); %></div>
    <div class="container-fluid vw-100 pt-1">
      <div class="container border border-dark rounded py-4 px-5 my-5 mx-auto shadow position-relative">
        <!-- Profile -->
        <%- include("../partials/profile_card.ejs", {user: {name: 'Admin', level: 'Sở VH-TT'}}); %>
        <!-- Title -->
        <div class="d-block">
          <h1 class="fw-bolder">TRANG CHỦ</h1>
        </div>
      </div>
    </div>
  </main>
</body>

</html>
