<%- include("../partials/sidebar.ejs"); %>
<div class="container-fluid vw-100 ps-5 pt-1">
  <!-- Topbar -->
  <div class="top-bar position-relative">
    <!-- profile -->
    <div class="position-absolute top-0 end-0 p-3 pe-1">
      <div class="card d-flex flex-sm-row align-items-center p-2 shadow" style="border-radius: 8px">
        <i class="fa fa-user-circle fa-2x" aria-hidden="true"></i>
        <div class="ps-2 d-flex flex-sm-column">
          <p class="h6 mb-0">John Doe</p>
          <p class="h6 mb-0" style="font-weight: 75">Phường 10, Quận 6</p>
        </div>
      </div>
    </div>
  </div>
  <!--  -->

  <div class="main-container">
    <!-- Title -->
    <div class="d-block">
      <h1 class="header-1">pHÂN CÔNG</h1>
    </div>
  </div>
</div>
