<%- include("../partials/sidebar.ejs"); %>
<div class="container-fluid vw-100 ps-5 pt-1">
  <div class="top-bar position-relative">
      <!-- profile -->
      <div class="position-absolute top-0 end-0 p-3 pe-1">
          <div class="card d-flex flex-sm-row align-items-center p-2 shadow" style="border-radius: 8px;">
              <i class="fa fa-user-circle fa-2x" aria-hidden="true"></i>
              <div class="ps-2 d-flex flex-sm-column">
                  <p class="h6 mb-0">John Doe</p>
                  <p class="h6 mb-0" style="font-weight: 75;">Phường 10, Quận 6</p>
              </div>
          </div>
      </div>
  </div>
  <div class="main-container" style="margin-bottom: 10px;">
      <!-- Title -->
      <div class="d-block">
          <h1 class="header-1">DANH SÁCH CÁC PHƯỜNG</h1>
      </div>
      <!-- Filter -->
      <div class="d-block mt-3 d-flex" style="justify-content: space-between; width: 100%;">
          <div class="filter d-flex flex-row align-items-center">
              <div class="card d-inline-block align-top"
                  style="height: fit-content; border-radius: 8px; border: 1px solid #677383; background-color: #f7fafc; width: fit-content; padding: 7px; margin-left: 10px;">
                  <div style="font-size: 16px; line-height: 1;  margin-bottom: 5px;">Tổng số Phường</div>
                  <div
                      style="font-size: 20px; text-align: right; line-height: 1; color: #ae57ff; font-weight: 700;">
                      112</div>
              </div>

              <div class="card d-inline-block align-top"
                  style="height: fit-content; border-radius: 8px; border: 1px solid #677383; background-color: #f7fafc; width: fit-content; padding: 7px; margin-left: 10px;">
                  <div style="font-size: 16px; line-height: 1; margin-bottom: 5px;">Tổng số điểm quảng cáo</div>
                  <div
                      style="font-size: 20px; text-align: right; line-height: 1; color: #00B285; font-weight: 700;">
                      211</div>
              </div>

              <div class="card d-inline-block align-top"
                  style="height: fit-content; border-radius: 8px; border: 1px solid #677383; background-color: #f7fafc; width: fit-content; padding: 7px; margin-left: 10px;">
                  <div style="font-size: 16px; line-height: 1; margin-bottom: 5px;">Tổng số bảng quảng cáo</div>
                  <div
                      style="font-size: 20px; text-align: right; line-height: 1; color: #D59633; font-weight: 700;">
                      1102</div>
              </div>
              

          </div>
          <button type="button" class="btn btn-primary create-btn" data-bs-toggle="modal"
                    data-bs-target="#addModal-qlphuong">
                    Tạo Phường mới
          </button>
      </div>
      <!-- Modal add -->
      <div class="modal fade" id="addModal-qlphuong" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-header pb-3" style="border: none">
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body pt-1 pb-2" style="border: none; padding-left: 25px; padding-right: 25px;">
              <h5 class="modal-title pb-2" style="font-size: 22px; font-weight: 700; text-align: center">
                THÊM PHƯỜNG MỚI
              </h5>
              <form>
                <!-- <div class="mb-3">
                                <label for="maloai-htbc" class="col-form-label mb-1"
                                  >Mã hình thức:<span class="text-danger">*</span></label
                                >
                                <input type="text" class="form-control" id="maloai-htbc" required />
                              </div> -->
                <div class="mb-3">
                  <label for="tenquan" class="col-form-label mb-1">Tên Phường: <span class="text-danger">*</span></label>
                  <input type="text" class="form-control" id="tenquan" required />
                </div>
              </form>
            </div>
            <div class="modal-footer pt-1 d-flex justify-content-around" style="border: none; background-color: #f7fafc">
              <!-- <button
                              type="button"
                              class="btn"
                              data-bs-dismiss="modal"
                              style="min-width: 6.5rem; background-color: #e84747; color: #f7fafc">
                              Hủy
                            </button> -->
              <button type="button" class="btn" style="min-width: 6.5rem; background-color: #3c77ff; color: #f7fafc">
                Thêm
              </button>
            </div>
          </div>
        </div>
      </div>
      <!-- List Bar -->
      <div class="container-listbar d-flex">
          <!-- Left Bar -->
          <div class="d-inline-block list-bar">
              <div class="title">
                  QUẬN / HUYỆN
              </div>
              <!-- Search Bar -->
              <div class="searchBar">
                <div class="search">
                    <input type="text" name="searchInfo" class="searchFill" placeholder="Search a District">
                    <i class="fa-solid fa-magnifying-glass"></i>
                </div>
            </div>
              <!-- List District -->
              <div class="list-district scroll">
                <a href="/so/qlphuong?quan=Q001" style="text-decoration: none;">
                  <div class="district-box d-flex">
                    <span style="margin:0 auto; background-color: rgba(255, 255, 255, 0);">Quận 1</span>
                    <i class="fa-solid fa-chevron-right fa-2xs"></i>
                  </div>
                </a>
                <!-- Raw Data -> will be changed when apply DB -->
                <a href="/so/qlphuong?quan=Q002" style="text-decoration: none;">
                    <div class="district-box d-flex">
                      <span style="margin:0 auto; background-color: rgba(255, 255, 255, 0);">Quận 2</span>
                      <i class="fa-solid fa-chevron-right fa-2xs"></i>
                    </div>
                </a>
                <a href="/so/qlphuong?quan=Q003" style="text-decoration: none;">
                    <div class="district-box d-flex">
                      <span style="margin:0 auto; background-color: rgba(255, 255, 255, 0);">Quận 3</span>
                      <i class="fa-solid fa-chevron-right fa-2xs"></i>
                    </div>
                </a>
                <a href="/so/qlphuong?quan=Q004" style="text-decoration: none;">
                    <div class="district-box d-flex">
                      <span style="margin:0 auto; background-color: rgba(255, 255, 255, 0);">Quận 4</span>
                      <i class="fa-solid fa-chevron-right fa-2xs"></i>
                    </div>
                </a>
                <a href="/so/qlphuong?quan=Q005" style="text-decoration: none;">
                    <div class="district-box d-flex">
                      <span style="margin:0 auto; background-color: rgba(255, 255, 255, 0);">Quận 5</span>
                      <i class="fa-solid fa-chevron-right fa-2xs"></i>
                    </div>
                </a>
                <a href="/so/qlphuong?quan=Q006" style="text-decoration: none;">
                    <div class="district-box d-flex">
                      <span style="margin:0 auto; background-color: rgba(255, 255, 255, 0);">Quận 6</span>
                      <i class="fa-solid fa-chevron-right fa-2xs"></i>
                    </div>
                </a>
                <a href="/so/qlphuong?quan=Q007" style="text-decoration: none;">
                    <div class="district-box d-flex">
                      <span style="margin:0 auto; background-color: rgba(255, 255, 255, 0);">Quận 7</span>
                      <i class="fa-solid fa-chevron-right fa-2xs"></i>
                    </div>
                </a>
                <a href="/so/qlphuong?quan=Q008" style="text-decoration: none;">
                    <div class="district-box d-flex">
                      <span style="margin:0 auto; background-color: rgba(255, 255, 255, 0);">Quận 8</span>
                      <i class="fa-solid fa-chevron-right fa-2xs"></i>
                    </div>
                </a>
                <a href="/so/qlphuong?quan=Q0BT" style="text-decoration: none;">
                    <div class="district-box d-flex">
                      <span style="margin:0 auto; background-color: rgba(255, 255, 255, 0);">Quận Bình Tân</span>
                      <i class="fa-solid fa-chevron-right fa-2xs"></i>
                    </div>
                </a>
                <a href="/so/qlphuong?quan=QBTH" style="text-decoration: none;">
                    <div class="district-box d-flex">
                      <span style="margin:0 auto; background-color: rgba(255, 255, 255, 0);">Quận Bình Thạnh</span>
                      <i class="fa-solid fa-chevron-right fa-2xs"></i>
                    </div>
                </a>
                <a href="/so/qlphuong?quan=Q0TB" style="text-decoration: none;">
                    <div class="district-box d-flex">
                      <span style="margin:0 auto; background-color: rgba(255, 255, 255, 0);">Quận Tân Bình</span>
                      <i class="fa-solid fa-chevron-right fa-2xs"></i>
                    </div>
                </a>
                <a href="/so/qlphuong?quan=Q0TP" style="text-decoration: none;">
                    <div class="district-box d-flex">
                      <span style="margin:0 auto; background-color: rgba(255, 255, 255, 0);">Quận Tân Phú</span>
                      <i class="fa-solid fa-chevron-right fa-2xs"></i>
                    </div>
                </a>
                <a href="/so/qlphuong?quan=Q012" style="text-decoration: none;">
                    <div class="district-box d-flex">
                      <span style="margin:0 auto; background-color: rgba(255, 255, 255, 0);">Quận 12</span>
                      <i class="fa-solid fa-chevron-right fa-2xs"></i>
                    </div>
                </a>
                <a href="/so/qlphuong?quan=Q0GV" style="text-decoration: none;">
                    <div class="district-box d-flex">
                      <span style="margin:0 auto; background-color: rgba(255, 255, 255, 0);">Quận Gò Vấp</span>
                      <i class="fa-solid fa-chevron-right fa-2xs"></i>
                    </div>
                </a>
                <a href="/so/qlphuong?quan=Q0BC" style="text-decoration: none;">
                    <div class="district-box d-flex">
                      <span style="margin:0 auto; background-color: rgba(255, 255, 255, 0);">Quận Bình Chánh</span>
                      <i class="fa-solid fa-chevron-right fa-2xs"></i>
                    </div>
                </a>
                <a href="/so/qlphuong?quan=Q0CC" style="text-decoration: none;">
                    <div class="district-box d-flex">
                      <span style="margin:0 auto; background-color: rgba(255, 255, 255, 0);">Quận Củ Chi</span>
                      <i class="fa-solid fa-chevron-right fa-2xs"></i>
                    </div>
                </a>

                <!-- Raw Data -> will be changed when apply DB -->
            </div>
              <a href="/so/qlquan" style="font-size: 14px;">Xem chi tiết danh sách QUẬN</a>
          </div>
          <!-- Table Content -->
          <div class="container-fluid d-inline-block ps-0" style="width: 80%;  padding: 0;  margin: 0;">
              <table id="data-table" class="table table-hover table-responsive" style="width:100%;">
                  <thead id="table-header">
                      <tr>
                          <th style="width: fit-content;">Mã Phường</th>
                          <th style="width: fit-content;">Tên Phường</th>
                          <th style="width: fit-content;">Trực thuộc Quận</th>
                          <th style="width: fit-content;">Số điểm đặt</th>
                          <th style="width: fit-content;">Số bảng quảng cáo</th>
                      </tr>
                  </thead>
                  <tbody id="wardData">
                    
                  </tbody>
              </table>
          </div>
      </div>
      <!-- Table -->
      <!-- Modal edit -->
      <div class="modal fade" id="editModal-qlquan" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-header pb-3" style="border: none">
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body pt-1 pb-2" style="border: none">
              <h5 class="modal-title pb-2" style="font-size: 22px; font-weight: 700; text-align: center">
                CHỈNH SỬA THÔNG TIN PHƯỜNG
              </h5>
              <form>
                <div class="mb-3">
                  <label for="maloai-htbc" class="col-form-label mb-1">Mã Phường:</label>
                  <input type="text" class="form-control" id="maloai-htbc" disabled value="" />
                </div>
                <div class="mb-3">
                  <label for="loai-htbc" class="col-form-label mb-1">Tên Phường:<span class="text-danger">*</span></label>
                  <!-- Can display ten hinh thuc trong khung input -->
                  <input type="text" class="form-control" id="loai-htbc" required />
                </div>
              </form>
            </div>
            <div class="modal-footer pt-1 d-flex justify-content-around" style="border: none; background-color: #f7fafc">
              <button type="button" class="btn" data-bs-dismiss="modal"
                style="min-width: 6.5rem; background-color: #e84747; color: #f7fafc">
                Hủy
              </button>
              <button type="button" class="btn" style="min-width: 6.5rem; background-color: #3c77ff; color: #f7fafc">
                Xác nhận
              </button>
            </div>
          </div>
        </div>
      </div>
  </div>
</div>
<script type="text/javascript" src="/js/QLPhuong.js"></script>
