<%- include("../partials/sidebar.ejs"); %>
<div class="container-fluid vw-100 ps-5 pt-1">
  <!-- Topbar -->
  <div class="top-bar position-relative">
    <!-- profile -->
    <div class="position-absolute top-0 end-0 p-3 pe-1">
      <div class="card d-flex flex-sm-row align-items-center p-2 shadow profile-card" style="border-radius: 8px">
        <i class="fa fa-user-circle fa-2x" aria-hidden="true"></i>
        <div class="ps-2 d-flex flex-sm-column">
          <p class="h6 mb-0">Admin</p>
          <p class="h6 mb-0" style="font-weight: 75">Sở VH - TT</p>
        </div>
      </div>
    </div>
  </div>
  <!--  -->

  <div class="main-container">
    <!-- Title -->
    <div class="d-block">
      <h1 class="header-1">YÊU CẦU TỪ PHƯỜNG QUẬN</h1>
    </div>
    <!-- Filter -->
    <div class="container-fluid mt-3 ps-0">
      <div class="d-flex flex-row align-items-center" style="position: relative">
        <div class="dropdown d-inline-block" style="flex: 0">
          <a
            class="btn btn-secondary dropdown-toggle"
            href="#"
            role="button"
            id="dropdownMenuLink"
            data-bs-toggle="dropdown"
            aria-expanded="false">
            Yêu cầu cấp phép
          </a>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            <li><a class="dropdown-item" href="/so/yeucau/cp">Yêu cầu cấp phép</a></li>
            <li><a class="dropdown-item" href="/so/yeucau/cs">Yêu cầu chỉnh sửa</a></li>
          </ul>
        </div>

        <div
          class="card d-inline-block align-top"
          style="
            height: fit-content;
            border-radius: 8px;
            border: 1px solid #677383;
            background-color: #f7fafc;
            width: 10rem;
            padding: 7px;
            margin-left: 10px;
            min-width: fit-content;
          ">
          <div style="font-size: 16px; line-height: 1">Đã duyệt</div>
          <div style="font-size: 20px; text-align: right; line-height: 1; color: #00b285; font-weight: 700">
            112,983 đơn
          </div>
        </div>

        <div
          class="card d-inline-block align-top"
          style="
            height: fit-content;
            border-radius: 8px;
            border: 1px solid #677383;
            background-color: #f7fafc;
            width: fit-content;
            padding: 7px;
            width: 10rem;
            margin-left: 10px;
            min-width: fit-content;
          ">
          <div style="font-size: 16px; line-height: 1">Chờ duyệt</div>
          <div style="font-size: 20px; text-align: right; line-height: 1; color: #d59633; font-weight: 700">
            112,983 đơn
          </div>
        </div>

        <div
        class="card d-inline-block align-top"
        style="
          height: fit-content;
          border-radius: 8px;
          border: 1px solid #677383;
          background-color: #f7fafc;
          width: fit-content;
          padding: 7px;
          width: 10rem;
          margin-left: 10px;
          min-width: fit-content;
        ">
        <div style="font-size: 16px; line-height: 1">Từ chối</div>
        <div style="font-size: 20px; text-align: right; line-height: 1; color: #d59633; font-weight: 700">
          112,983 đơn
        </div>
      </div>
        <!-- Button add
        <div class="d-inline-block" style="position: absolute; right: 0">
          <button
            type="button"
            class="btn"
            data-bs-toggle="modal"
            data-bs-target="#addModal-lhqc"
            style="background-color: #60c98b">
            Thêm mới
          </button>
        </div> -->

        <!-- Modal add -->
        <div class="modal fade" id="addModal-lhqc" tabindex="-1" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header pb-3" style="border: none">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body pt-1 pb-2" style="border: none">
                <h5 class="modal-title pb-2" style="font-size: 22px; font-weight: 700; text-align: center">
                  THÊM LOẠI HÌNH QUẢNG CÁO
                </h5>
                <form>
                  <!-- <div class="mb-3">
                    <label for="maloai-htbc" class="col-form-label mb-1"
                      >Mã loại:<span class="text-danger">*</span></label
                    >
                    <input type="text" class="form-control" id="maloai-htbc" required />
                  </div> -->
                  <div class="mb-3">
                    <label for="loai-htbc" class="col-form-label mb-1">Loại:<span class="text-danger">*</span></label>
                    <input type="text" class="form-control" id="loai-htbc" required />
                  </div>
                  <div class="mb-3">
                    <label for="mota-htbc" class="col-form-label mb-1">Mô tả:<span class="text-danger">*</span></label>
                    <textarea class="form-control" id="mota-htbc" required></textarea>
                  </div>
                </form>
              </div>
              <div
                class="modal-footer pt-1 d-flex justify-content-around"
                style="border: none; background-color: #f7fafc">
                <!-- <button
                  type="button"
                  class="btn"
                  data-bs-dismiss="modal"
                  style="min-width: 6.5rem; background-color: #e84747; color: #f7fafc">
                  Hủy
                </button> -->
                <button type="button" class="btn" style="min-width: 6.5rem; background-color: #3c77ff; color: #f7fafc">
                  Thêm
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Table -->
    <div class="container-fluid mt-4 ps-0">
      <table id="data-table" class="table table-hover table-responsive table-bordered" style="width: 100%">
        <thead id="table-header">
          <tr>
            <th style="color:#3c77ff">ID Yêu cầu</th>
            <th style="color:#3c77ff">ID Điểm đặt</th>
            <th style="color:#3c77ff">Phường</th>
            <th style="color:#3c77ff">Quận</th>
            <th style="color:#3c77ff">Cán bộ</th>
            <th style="color:#3c77ff">Thời gian quảng cáo</th>
            <th style="color:#3c77ff">Trạng thái</th>
            <th style="color:#3c77ff">Thao tác</th>
          </tr>
        </thead>
        <tbody>
          <% let maLoai = "L00" %> <% for (let i = 1; i <= 55; i++) { %>
          <tr>
            <!-- <td><%= i %></td> -->
            <td>BC0155001</td>
            <td>D0614003</td>
            <td>Bến Nghé</td>
            <td>6</td>
            <td>Trần Gia Thịnh</td>
            <td>10/02/2023 - 15/05/2023</td>
            <td>Đã duyệt</td>
            <td>
              <div class="d-flex flex-row align-items-center justify-content-center">
                
                <!-- Button trigger modal edit -->
                <!-- <a href="" data-bs-toggle="modal" data-bs-target="#editModal-lhqc<%= i %>">
                  <img src="/images/edit.svg" alt="edit-icon" style="background-color: transparent;">
                </a> -->

                <!-- Button trigger modal edit -->
                <a href="/so/yeucau/{i}" class="mx-3">
                  <img src="/images/edit.svg" alt="edit-icon" style="background-color: transparent;">
                </a>

                <a href="#" class="mx-3">
                  <img src="/images/remove.svg" alt="edit-icon" style="background-color: transparent;">
                </a>
              </div>
            </td>
          </tr>
          <% } %>
        </tbody>
      </table>
    </div>
  </div>
</div>
