{
  "env": {
    "es2021": true,
    "jquery": true,
    "node": true
  },
  "extends": ["eslint:recommended"],
  "parserOptions": {
    "ecmaVersion": "latest",
    "sourceType": "module"
  },
  "overrides": [],
  "globals": {
    "process": true
  },
  "rules": {
    "no-shadow": 0,
    "quotes": ["error", "single"]
  },
  "plugins": ["prettier"],
  "ignorePatterns": ["node_modules/", "dist/"]
}
