<!DOCTYPE html>
<html lang="vi">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%- title %></title>
    <%- include("./partials/head.ejs"); %>
        <link href="https://api.mapbox.com/mapbox-gl-js/v2.14.1/mapbox-gl.css" rel="stylesheet" />
        <script defer src="/js/mini-map.js"></script>
        <style>
            .mapboxgl-ctrl-top-left {
                left: 5rem !important;
            }
            .mapboxgl-canvas-container {
                cursor: default !important;
            }
        </style>
        <link rel="stylesheet" href="/css/mapbox.css" />
</head>

<body>
    <script
        src="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v5.0.0/mapbox-gl-geocoder.min.js"></script>
    <link rel="stylesheet"
        href="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v5.0.0/mapbox-gl-geocoder.css"
        type="text/css" />
    <header></header>
    <main class="container-fluid d-flex bg-light p-0">
        <div id="map" style="position: absolute; width: 100%; top:0; bottom: 0;"></div>

        <!-- Search bar -->
        <div id="search-bar" class="position-absolute top-0 start-0 z-index-3" style="margin: 1.25rem 6.25rem;">
            <div class="input-group" style="width: 23.5rem">
                <input type="text" class="form-control" placeholder="Tìm kiếm" aria-label="Tìm kiếm" aria-describedby="close-search-btn" id="search-input" />
                <button class="btn btn-light" type="button" id="close-search-btn">
                <i class="fa fa-times"></i>
                </button>
            </div>
    
            <!-- Result box -->
            <div class="result-box">
    
            </div>
        </div>
    </main>
</body>