<!DOCTYPE html>
<html lang="vi">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title><%- title %></title>
  <%- include("../partials/head.ejs"); %>

  <!-- Mapbox -->
  <link href="https://api.mapbox.com/mapbox-gl-js/v2.14.1/mapbox-gl.css" rel="stylesheet" />
  <script src="./js/phuongScript.js" type="module"></script>
</head>

<body>
  <!--- Load the mapbox geocoder plugin -->
  <script src="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v5.0.0/mapbox-gl-geocoder.min.js"></script>
  <link
    rel="stylesheet"
    href="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v5.0.0/mapbox-gl-geocoder.css"
    type="text/css" />

  
  <div id="map" style="position: absolute; top:0; bottom:0; width: 100%;"></div>
  
  <% const toolbars = [
      { icon: 'bi bi-house-door-fill', name: 'Trang chủ', link:'/so', },
      { icon: 'bi bi-building-fill', name: 'Danh sách quận huyện', link: '/so/qlquan'},
      { icon: 'bi bi-badge-ad-fill', name: 'Loại hình quảng cáo', link: '/so/lhqc', },
      { icon: 'bi bi-chat-left-dots-fill', name: 'Yêu cầu', link: '/so/yeucau', },
      { icon: 'bi bi-journal-bookmark-fill', name: 'Thống kê báo cáo', link: '/so/baocao', },
      { icon: 'bi bi-person-badge', name:'Phân công', link: '/so/phancong', }, ] %>
  <header></header>
 
</body>

</html>
