<div
  class="d-flex flex-wrap position-absolute top-0 start-0 translate-middle p-2"
  style="max-width: fit-content; background-color: transparent;">
  <a
    href="<%= url %>"
    style="height: 50px; border-radius: 50px; background-color: #3c77ff;"
    class="d-flex align-items-center">
    <img src="/images/back.svg" alt="back" style="background-color: #3c77ff; border-radius: 50px" />
  </a>
</div>