<div
  class="card align-top h-auto rounded border-dark p-1 ms-1"
  style="min-width: fit-content; background-color: #f7fafc">
  <p class="lh-base text-start m-0"><%= title %></p>
  <p class="fw-bolder text-end fs-5 lh-base my-0 ms-5" style="color: <%= color %>">
    <%= value %>
  </p>
</div>
