<div class="dropdown h-100">
  <a class="btn dropdown-toggle py-0 h-100" href="#" role="button" id="dropdownMenuLink"
    data-bs-toggle="dropdown" aria-expanded="true" style="line-height: 3.9rem; min-width: 12rem;">
    <%= current %>
  </a>
  <ul class="dropdown-menu dropdown-menu-start" aria-labelledby="dropdownMenuLink"
    style="line-height: 3rem">
    <% options.forEach((option, index) => { %>
    <li>
      <a class="dropdown-item" href="<%= option.link %>">
        <%= option.name %>
      </a>
    </li>
    <% }) %>
  </ul>
</div>
