<!-- Side bar -->
<style>
  .sidebar-wrap {
    width: 5rem;
    height: 100vh;
    background-color: var(--Dark);
    color: var(--Background);
    /* padding: 1rem; */
    transition: all 0.3s ease-in-out;
  }
  .sidebar-wrap:hover {
    width: 20rem;
  }

  .sidebar-wrap:hover .logo-wrap span {
    display: flex;
  }

  .sidebar-wrap:hover .nav li .nav-link span {
    display: flex;
  }

  .sidebar-wrap:hover .nav li .nav-link {
    text-wrap: nowrap;
    gap: 1rem;
  }

  .sidebar-wrap:hover .dropdown-wrap {
    justify-content: flex-start;
  }
  .sidebar-wrap .logo-wrap {
    color: var(--Background);
    font-size: 2rem;
    display: flex;
    align-items: center;
    gap: 1rem;
  }
  .sidebar-wrap .logo-wrap span {
    font-size: 1.5rem;
  }
  .sidebar-wrap .logo-wrap .icon-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    min-width: 40px;
    color: var(--Background);
  }
  .sidebar-wrap .nav {
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    flex-wrap: nowrap;
  }
  .sidebar-wrap .nav li .nav-link {
    color: var(--Neutral-5);
    font-size: 1.5rem;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    gap: 10rem;
    margin-left: auto;
    margin-right: auto;
  }

  .sidebar-wrap .nav li .bi {
    display: flex;
    justify-self: center;
    margin-left: 0.7rem;
  }
  .sidebar-wrap .nav li .nav-link .icon-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.5rem;
    min-width: 2.5rem;
  }
  .sidebar-wrap .nav li .nav-link span {
    font-size: 1rem;
    white-space: nowrap;
  }
  .sidebar-wrap .nav li .nav-link.active {
    background-color: transparent;
    color: var(--Background);
  }
  .sidebar-wrap .nav li .nav-link:hover {
    background-color: var(--Dark-1);
    color: var(--Neutral-4);
  }
</style>

<div class="d-flex flex-column p-0 flex-shrink-0 sidebar-wrap">
  <a
    href="/"
    class="d-block p-3 link-body-emphasis text-decoration-none logo-wrap"
    data-bs-toggle="tooltip"
    data-bs-placement="right"
    data-bs-original-title="Icon only">
    <div class="icon-wrap">
      <i class="bi bi-bootstrap"></i>
    </div>
  </a>
  <!-- <hr /> -->
  <ul class="nav nav-pills nav-flush flex-column mb-auto text-center">
    <li class="nav-item">
      <a
        href="#"
        class="nav-link active rounded-0 py-3 border-bottom"
        aria-current="page"
        data-bs-toggle="tooltip"
        data-bs-placement="right"
        aria-label="Home"
        data-bs-original-title="Home">
        <i class="bi bi-house-door-fill"></i>
        <span>Trang chủ</span>
      </a>
    </li>
    <li>
      <a
        href="#"
        class="nav-link rounded-0 py-3 border-bottom"
        aria-current="page"
        data-bs-toggle="tooltip"
        data-bs-placement="right"
        aria-label="Ward"
        data-bs-original-title="Ward">
        <i class="bi bi-building-fill"></i>
        <span>Danh sách quận huyện</span>
      </a>
    </li>
    <li>
      <a
        href="#"
        class="nav-link rounded-0 py-3 border-bottom"
        aria-current="page"
        data-bs-toggle="tooltip"
        data-bs-placement="right"
        aria-label="Ads"
        data-bs-original-title="Ads">
        <i class="bi bi-chat-left-dots-fill"></i>
        <span>Yêu cầu</span>
      </a>
    </li>
    <li>
      <a
        href="#"
        class="nav-link rounded-0 py-3 border-bottom"
        aria-current="page"
        data-bs-toggle="tooltip"
        data-bs-placement="right"
        aria-label="Ads"
        data-bs-original-title="Ads">
        <i class="bi bi-journal-bookmark-fill"></i>
        <span>Thống kê báo cáo</span>
      </a>
    </li>
    <li>
      <a
        href="#"
        class="nav-link rounded-0 py-3 border-bottom"
        aria-current="page"
        data-bs-toggle="tooltip"
        data-bs-placement="right"
        aria-label="Ads"
        data-bs-original-title="Ads">
        <i class="bi bi-person-badge"></i>
        <span>Phân công</span>
      </a>
    </li>
  </ul>
</div>
