.sidebar-wrap {
	width: 4rem;
	/* height: 100vh; */
	height: 100%;
	background-color: var(--Dark);
	color: var(--Background);
	/* padding: 1rem; */
	transition: all 0.3s ease-in-out;
}

.sidebar-wrap:hover {
	width: 16rem;
}

.sidebar-wrap:hover .logo-wrap span {
	display: flex;
}

.sidebar-wrap:hover .nav li .nav-link span {
	display: flex;
}

.sidebar-wrap:hover .nav li .nav-link {
	text-wrap: unset;
	gap: 1rem;
}

.sidebar-wrap:hover .dropdown-wrap {
	justify-content: flex-start;
}

.sidebar-wrap .logo-wrap {
	color: var(--Background);
	font-size: 2rem;
	display: flex;
	align-items: center;
	gap: 1rem;
}

.sidebar-wrap .logo-wrap span {
	font-size: 1.5rem;
}

.sidebar-wrap .logo-wrap .icon-wrap {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 2.5rem;
	color: var(--Background);
}

.sidebar-wrap .nav {
	height: 100%;
	overflow-x: hidden;
	overflow-y: auto;
	flex-wrap: nowrap;
}

.sidebar-wrap .nav li .nav-link {
	color: var(--Neutral-5);
	font-size: 1.5rem;
	display: flex;
	flex-wrap: nowrap;
	align-items: center;
	gap: 10rem;
	margin-left: auto;
	margin-right: auto;
}

.sidebar-wrap .nav li .fa-regular {
	display: flex;
	justify-self: center;
	margin-left: 0.3rem;
}

.sidebar-wrap .nav li .nav-link .icon-wrap {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 2.5rem;
}

.sidebar-wrap .nav li .nav-link span {
	font-size: 1rem;
	white-space: nowrap;
}

.sidebar-wrap .nav li .nav-link.active {
	background-color: transparent;
	color: var(--Background);
}

.sidebar-wrap .nav li .nav-link:hover {
	background-color: var(--Dark-1);
	color: var(--Neutral-4);
}
