<!DOCTYPE html>
<html lang="vi">

<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title><%- title %></title>
    <%- include("../partials/head.ejs"); %>
    <link href="https://api.mapbox.com/mapbox-gl-js/v2.14.1/mapbox-gl.css" rel="stylesheet"/>
	<link rel="stylesheet" href="/css/mapbox.css">
    <script defer src="/js/index/map.js"></script>
</head>

<body>
<script src="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v5.0.0/mapbox-gl-geocoder.min.js"></script>
<link
        rel="stylesheet"
        href="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v5.0.0/mapbox-gl-geocoder.css"
        type="text/css"/>
<header></header>
<aside class="position-absolute z-3 h-100">
    <%- include('../partials/sidebar.ejs', {toolbars: toolbars}); %>
</aside>
<main class="container-fluid d-flex bg-light p-0">
    <div id="map" style="position: absolute; width: 100%; top:0; bottom: 0;"></div>
    <div id="bottom-menu" class="container-lg mb-3 mx-3 p-2 bg-white position-absolute bottom-0 z-index-3"
         style="left: 5rem">
        <div id="container" class="row align-items-center justify-content-start mx-2">
            <div class="col-3">
                <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" id="quang-cao" aria-checked="false" checked/>
                    <label class="form-check-label" for="quang-cao">Bảng quảng cáo</label>
                </div>
            </div>

            <div class="col-3">
                <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" id="bao-cao" aria-checked="false" checked/>
                    <label class="form-check-label" for="bao-cao">Báo cáo vi phạm</label>
                </div>
            </div>
        </div>
    </div>
    <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel"
         data-bs-backdrop="false">
        <div class="offcanvas-header container-fluid">
            <img src="images/san-cau-long-phu-tho-1.webp" class="img-fluid m-0" alt="Nhà thi đấu Phú Thọ"/>
            <h4 class="offcanvas-title" id="offcanvasRightLabel">Nhà thi đấu Phú Thọ</h4>
            <p class="subtitle">cổng Lý Thường Kiệt</p>
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"
                    id="btn-close"></button>
        </div>
        <div class="offcanvas-body">
            <ul class="nav nav-tabs d-flex justify-content-between border-1 rounded-3">
                <li class="nav-item flex-fill text-center border-0" role="presentation">
                    <button class="nav-link active bg-transparent border-0 text-uppercase" id="info-tab"
                            data-bs-toggle="tab" data-bs-target="#info-tab-pane"
                            type="button"
                            role="tab" aria-controls="info-tab-pane" aria-selected="true" aria-checked="true">
                        Thông tin
                    </button>
                </li>
                <li class="nav-item flex-fill text-center border-0">
                    <button class="nav-link bg-transparent border-0 text-uppercase w-100" id="ads-tab"
                            data-bs-toggle="tab" data-bs-target="#ads-tab-pane"
                            type="button"
                            role="tab" aria-controls="ads-tab-pane" aria-selected="false">
                        B.Quảng cáo
                    </button>
                </li>
                <li class="nav-item flex-fill text-center border-0">
                    <button class="nav-link bg-transparent border-0 text-uppercase w-100" id="report-tab"
                            data-bs-toggle="tab" data-bs-target="#report-tab-pane"
                            type="button"
                            role="tab" aria-controls="report-tab-pane" aria-selected="false">
                        Báo cáo
                    </button>
                </li>
            </ul>

            <div class="tab-content" id="tabContent">
                <div class="tab-pane fade show active" id="info-tab-pane" role="tabpanel" aria-labelledby="info-tab"
                     tabindex="0">
                    <p>Số 123, đường Lý Thường Kiệt, phường 10, quận 10</p>
                    <p>Đất công/công viên/hành lang an toàn giao thông</p>
                    <p>Hình thức: Quảng cáo thương mại, cổ động chính trị</p>
                    <p id="status">Đã quy hoạch</p>
                    <div class="options">
                        <a class="btn btn-icon" href="so/spot/123">
                            <svg
                                    xmlns="http://www.w3.org/2000/svg"
                                    width="16"
                                    height="16"
                                    fill="currentColor"
                                    class="bi bi-info-circle"
                                    viewBox="0 0 16 16">
                                <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                                <path
                                        d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"/>
                            </svg>
                        </a>
                    </div>
                </div>
                <div class="tab-pane list-group fade p-0 overflow-auto" id="ads-tab-pane" role="tabpanel"
                     aria-labelledby="ads-tab" tabindex="0">
                     <div class="px-3 my-2">
                        <i class="bi bi-plus-circle-fill me-1" style="color: #3c77ff;"></i>
                        <a href="/so/board/new" style="text-decoration: none; color: #355ded;">Thêm bảng quảng cáo mới</a>
                    </div>
                    <% for (let i = 0; i < 5; ++i) {%>
                    <div class="list-group-item list-group-item-action">
                        <h5 class="mb-1 fw-semibold">Cổng chào</h5>
                        <small>Số 123, đường Lý Thường Kiệt, phường 10, quận 10</small>
                        <p class="mb-1">Kích thước: 2.5 x 10m</p>
                        <p class="mb-1">Số lượng: 1 cổng</p>
                        <p class="mb-1">Hình thức: cổ đông chính trị</p>
                        <div class="options">
                            <a class="btn btn-icon" href="so/board/123">
                                <svg
                                        xmlns="http://www.w3.org/2000/svg"
                                        width="16"
                                        height="16"
                                        fill="currentColor"
                                        class="bi bi-info-circle"
                                        viewBox="0 0 16 16">
                                    <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                                    <path
                                            d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"/>
                                </svg>
                            </a>
                        </div>
                    </div>
                    <% } %>
                </div>
                <div class="tab-pane list-group fade p-0 overflow-auto" id="report-tab-pane" role="tabpanel"
                     aria-labelledby="report-tab" tabindex="0">

                    <% for (let i = 0; i < 5; ++i) { %>
                    <div class="list-group-item list-group-item-action position-relative">
                        <h5 class="mb-1 fw-semibold">Tố giác sai phạm</h5>
                        <p class="mb-1">Nguyễn Văn A</p>
                        <p class="mb-1">Ngày gửi: 02/07/2023</p>
                        <p class="mb-1">Tình trạng: <b>Chưa xử lý</b></p>
                        <a class="btn btn-icon position-absolute top-0 end-0 me-3" href="so/report/123">
                            <svg
                                    xmlns="http://www.w3.org/2000/svg"
                                    width="16"
                                    height="16"
                                    fill="currentColor"
                                    class="bi bi-info-circle"
                                    viewBox="0 0 16 16">
                                <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                                <path
                                        d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"/>
                            </svg>
                        </a>
                    </div>
                    <% } %>
                </div>
            </div>
        </div>
    </div>
</main>
</body>

</html>
