<!DOCTYPE html>
<html lang="vi">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%- title %></title>
    <%- include("../partials/head.ejs"); %>
    <link rel="stylesheet" href="/css/mapbox.css" />
    <!-- Mapbox -->
    <link href="https://api.mapbox.com/mapbox-gl-js/v2.14.1/mapbox-gl.css" rel="stylesheet" />
    <!-- Script -->
    <script src="./js/indexQuan.js" type="module"></script>
  </head>

  <body>
    <!--- Load the mapbox geocoder plugin -->
    <script
      src="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v5.0.0/mapbox-gl-geocoder.min.js"></script>
    <link rel="stylesheet"
    href="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v5.0.0/mapbox-gl-geocoder.css"
    type="text/css" />
    <header></header>
    
    <!-- Sidebar -->
    <aside class="position-absolute z-3 h-100">
      <%- include('../partials/sidebar.ejs', {toolbars: toolbars}); %>
    </aside>
    <main class="container-fluid d-flex bg-light p-0">
      <div id="map" style="position: absolute; width: 100%; top:0; bottom: 0;"></div>
      <div id="bottom-menu" class="container-lg mb-3 mx-3 p-2 bg-white position-absolute bottom-0 z-index-3"
        style="left: 5rem">
        <div id="container" class="row align-items-center justify-content-start mx-2">
          <div class="col-3">
            <div class="form-check form-switch">
              <input class="form-check-input" type="checkbox" id="quang-cao" aria-checked="false" checked />
              <label class="form-check-label" for="quang-cao">Bảng quảng cáo</label>
            </div>
          </div>
    
          <div class="col-3">
            <div class="form-check form-switch">
              <input class="form-check-input" type="checkbox" id="bao-cao" aria-checked="false" checked />
              <label class="form-check-label" for="bao-cao">Báo cáo vi phạm</label>
            </div>
          </div>
        </div>
      </div>
    </main>

    <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel"
      data-bs-backdrop="false">
      <div class="offcanvas-header container-fluid">
        <img src="/images/san-cau-long-phu-tho-1.webp" class="img-fluid" alt="Nhà thi đấu Phú Thọ" style="margin: 0" />
        <h4 class="offcanvas-title" id="offcanvasRightLabel">Nhà thi đấu Phú Thọ</h4>
        <p class="subtitle">cổng Lý Thường Kiệt</p>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close" id="btn-close"></button>
      </div>
      <div class="offcanvas-body">
        <ul class="nav nav-tabs">
          <li class="nav-item" role="presentation">
            <button class="nav-link active" id="info-tab" data-bs-toggle="tab" data-bs-target="#info-tab-pane"
              type="button" role="tab" aria-controls="info-tab-pane" aria-selected="true">
              Thông tin
            </button>
          </li>
          <li class="nav-item">
            <button class="nav-link" id="ads-tab" data-bs-toggle="tab" data-bs-target="#ads-tab-pane" type="button"
              role="tab" aria-controls="ads-tab-pane" aria-selected="false">
              B.Quảng cáo
            </button>
          </li>
          <li class="nav-item">
            <button class="nav-link" id="report-tab" data-bs-toggle="tab" data-bs-target="#report-tab-pane" type="button"
              role="tab" aria-controls="report-tab-pane" aria-selected="false">
              Báo cáo
            </button>
          </li>
        </ul>

        <div class="tab-content" id="tabContent">
          <div class="tab-pane fade show active" id="info-tab-pane" role="tabpanel" aria-labelledby="info-tab"
            tabindex="0">
            <p>Số 123, đường Lý Thường Kiệt, phường 10, quận 10</p>
            <p>Đất công/công viên/hành lang an toàn giao thông</p>
            <p>Hình thức: Quảng cáo thương mại, cổ động chính trị</p>
            <p id="status">Đã quy hoạch</p>
            <div class="options">
              <button class="btn btn-icon">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                  class="bi bi-info-circle" viewBox="0 0 16 16">
                  <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
                  <path
                    d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0z" />
                </svg>
              </button>
              <button class="btn btn-outline-danger">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                  class="bi bi-exclamation-octagon" viewBox="0 0 16 16">
                  <path
                    d="M4.54.146A.5.5 0 0 1 4.893 0h6.214a.5.5 0 0 1 .353.146l4.394 4.394a.5.5 0 0 1 .146.353v6.214a.5.5 0 0 1-.146.353l-4.394 4.394a.5.5 0 0 1-.353.146H4.893a.5.5 0 0 1-.353-.146L.146 11.46A.5.5 0 0 1 0 11.107V4.893a.5.5 0 0 1 .146-.353L4.54.146zM5.1 1 1 5.1v5.8L5.1 15h5.8l4.1-4.1V5.1L10.9 1H5.1z" />
                  <path
                    d="M7.002 11a1 1 0 1 1 2 0 1 1 0 0 1-2 0zM7.1 4.995a.905.905 0 1 1 1.8 0l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 4.995z" />
                </svg>
                Báo cáo vi phạm
              </button>
            </div>
          </div>
          <div class="tab-pane list-group fade p-0 overflow-auto" id="ads-tab-pane" role="tabpanel"
            aria-labelledby="ads-tab" tabindex="0">

            <div class="list-group-item list-group-item-action">
              <h5 class="mb-1 fw-semibold">Cổng chào</h5>
              <small>Số 123, đường Lý Thường Kiệt, phường 10, quận 10</small>
              <p class="mb-1">Kích thước: 2.5 x 10m</p>
              <p class="mb-1">Số lượng: 1 cổng</p>
              <p class="mb-1">Hình thức: cổ đông chính trị</p>
              <div class="options">
                <button class="btn btn-icon">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                    class="bi bi-info-circle" viewBox="0 0 16 16">
                    <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
                    <path
                      d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0z" />
                  </svg>
                </button>
                <button class="btn btn-outline-danger">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                    class="bi bi-exclamation-octagon" viewBox="0 0 16 16">
                    <path
                      d="M4.54.146A.5.5 0 0 1 4.893 0h6.214a.5.5 0 0 1 .353.146l4.394 4.394a.5.5 0 0 1 .146.353v6.214a.5.5 0 0 1-.146.353l-4.394 4.394a.5.5 0 0 1-.353.146H4.893a.5.5 0 0 1-.353-.146L.146 11.46A.5.5 0 0 1 0 11.107V4.893a.5.5 0 0 1 .146-.353L4.54.146zM5.1 1 1 5.1v5.8L5.1 15h5.8l4.1-4.1V5.1L10.9 1H5.1z" />
                    <path
                      d="M7.002 11a1 1 0 1 1 2 0 1 1 0 0 1-2 0zM7.1 4.995a.905.905 0 1 1 1.8 0l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 4.995z" />
                  </svg>
                  Báo cáo vi phạm
                </button>
              </div>
            </div>

            <div class="list-group-item list-group-item-action">
              <h5 class="mb-1 fw-semibold">Cổng chào</h5>
              <small>Số 123, đường Lý Thường Kiệt, phường 10, quận 10</small>
              <p class="mb-1">Kích thước: 2.5 x 10m</p>
              <p class="mb-1">Số lượng: 1 cổng</p>
              <p class="mb-1">Hình thức: cổ đông chính trị</p>
              <div class="options">
                <button class="btn btn-icon">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                    class="bi bi-info-circle" viewBox="0 0 16 16">
                    <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
                    <path
                      d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0z" />
                  </svg>
                </button>
                <button class="btn btn-outline-danger">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                    class="bi bi-exclamation-octagon" viewBox="0 0 16 16">
                    <path
                      d="M4.54.146A.5.5 0 0 1 4.893 0h6.214a.5.5 0 0 1 .353.146l4.394 4.394a.5.5 0 0 1 .146.353v6.214a.5.5 0 0 1-.146.353l-4.394 4.394a.5.5 0 0 1-.353.146H4.893a.5.5 0 0 1-.353-.146L.146 11.46A.5.5 0 0 1 0 11.107V4.893a.5.5 0 0 1 .146-.353L4.54.146zM5.1 1 1 5.1v5.8L5.1 15h5.8l4.1-4.1V5.1L10.9 1H5.1z" />
                    <path
                      d="M7.002 11a1 1 0 1 1 2 0 1 1 0 0 1-2 0zM7.1 4.995a.905.905 0 1 1 1.8 0l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 4.995z" />
                  </svg>
                  Báo cáo vi phạm
                </button>
              </div>
            </div>

            <div class="list-group-item list-group-item-action">
              <h5 class="mb-1 fw-semibold">Cổng chào</h5>
              <small>Số 123, đường Lý Thường Kiệt, phường 10, quận 10</small>
              <p class="mb-1">Kích thước: 2.5 x 10m</p>
              <p class="mb-1">Số lượng: 1 cổng</p>
              <p class="mb-1">Hình thức: cổ đông chính trị</p>
              <div class="options">
                <button class="btn btn-icon">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                    class="bi bi-info-circle" viewBox="0 0 16 16">
                    <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
                    <path
                      d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0z" />
                  </svg>
                </button>
                <button class="btn btn-outline-danger">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                    class="bi bi-exclamation-octagon" viewBox="0 0 16 16">
                    <path
                      d="M4.54.146A.5.5 0 0 1 4.893 0h6.214a.5.5 0 0 1 .353.146l4.394 4.394a.5.5 0 0 1 .146.353v6.214a.5.5 0 0 1-.146.353l-4.394 4.394a.5.5 0 0 1-.353.146H4.893a.5.5 0 0 1-.353-.146L.146 11.46A.5.5 0 0 1 0 11.107V4.893a.5.5 0 0 1 .146-.353L4.54.146zM5.1 1 1 5.1v5.8L5.1 15h5.8l4.1-4.1V5.1L10.9 1H5.1z" />
                    <path
                      d="M7.002 11a1 1 0 1 1 2 0 1 1 0 0 1-2 0zM7.1 4.995a.905.905 0 1 1 1.8 0l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 4.995z" />
                  </svg>
                  Báo cáo vi phạm
                </button>
              </div>
            </div>

            <div class="list-group-item list-group-item-action">
              <h5 class="mb-1 fw-semibold">Cổng chào</h5>
              <small>Số 123, đường Lý Thường Kiệt, phường 10, quận 10</small>
              <p class="mb-1">Kích thước: 2.5 x 10m</p>
              <p class="mb-1">Số lượng: 1 cổng</p>
              <p class="mb-1">Hình thức: cổ đông chính trị</p>
              <div class="options">
                <button class="btn btn-icon">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                    class="bi bi-info-circle" viewBox="0 0 16 16">
                    <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
                    <path
                      d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0z" />
                  </svg>
                </button>
                <button class="btn btn-outline-danger">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                    class="bi bi-exclamation-octagon" viewBox="0 0 16 16">
                    <path
                      d="M4.54.146A.5.5 0 0 1 4.893 0h6.214a.5.5 0 0 1 .353.146l4.394 4.394a.5.5 0 0 1 .146.353v6.214a.5.5 0 0 1-.146.353l-4.394 4.394a.5.5 0 0 1-.353.146H4.893a.5.5 0 0 1-.353-.146L.146 11.46A.5.5 0 0 1 0 11.107V4.893a.5.5 0 0 1 .146-.353L4.54.146zM5.1 1 1 5.1v5.8L5.1 15h5.8l4.1-4.1V5.1L10.9 1H5.1z" />
                    <path
                      d="M7.002 11a1 1 0 1 1 2 0 1 1 0 0 1-2 0zM7.1 4.995a.905.905 0 1 1 1.8 0l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 4.995z" />
                  </svg>
                  Báo cáo vi phạm
                </button>
              </div>
            </div>

          </div>
          <div class="tab-pane list-group fade p-0 overflow-auto" id="report-tab-pane" role="tabpanel"
            aria-labelledby="report-tab" tabindex="0">

            <div class="list-group-item list-group-item-action position-relative">
              <h5 class="mb-1 fw-semibold">Tố giác sai phạm</h5>
              <p class="mb-1">Nguyễn Văn A</p>
              <p class="mb-1">Ngày gửi: 02/07/2023</p>
              <p class="mb-1">Tình trạng: <b>Chưa xử lý</b></p>
              <button class="btn btn-icon position-absolute top-0 end-0 me-3">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                  class="bi bi-info-circle" viewBox="0 0 16 16">
                  <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
                  <path
                    d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0z" />
                </svg>
              </button>

            </div>

            <div class="list-group-item list-group-item-action position-relative">
              <h5 class="mb-1 fw-semibold">Tố giác sai phạm</h5>
              <p class="mb-1">Nguyễn Văn A</p>
              <p class="mb-1">Ngày gửi: 02/07/2023</p>
              <p class="mb-1">Tình trạng: <b>Chưa xử lý</b></p>
              <button class="btn btn-icon position-absolute top-0 end-0 me-3">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                  class="bi bi-info-circle" viewBox="0 0 16 16">
                  <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
                  <path
                    d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0z" />
                </svg>
              </button>

            </div>

            <div class="list-group-item list-group-item-action position-relative">
              <h5 class="mb-1 fw-semibold">Tố giác sai phạm</h5>
              <p class="mb-1">Nguyễn Văn A</p>
              <p class="mb-1">Ngày gửi: 02/07/2023</p>
              <p class="mb-1">Tình trạng: <b>Chưa xử lý</b></p>
              <button class="btn btn-icon position-absolute top-0 end-0 me-3">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                  class="bi bi-info-circle" viewBox="0 0 16 16">
                  <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
                  <path
                    d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0z" />
                </svg>
              </button>

            </div>

            <div class="list-group-item list-group-item-action position-relative">
              <h5 class="mb-1 fw-semibold">Tố giác sai phạm</h5>
              <p class="mb-1">Nguyễn Văn A</p>
              <p class="mb-1">Ngày gửi: 02/07/2023</p>
              <p class="mb-1">Tình trạng: <b>Chưa xử lý</b></p>
              <button class="btn btn-icon position-absolute top-0 end-0 me-3">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                  class="bi bi-info-circle" viewBox="0 0 16 16">
                  <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
                  <path
                    d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0z" />
                </svg>
              </button>

            </div>

            <div class="list-group-item list-group-item-action position-relative">
              <h5 class="mb-1 fw-semibold">Tố giác sai phạm</h5>
              <p class="mb-1">Nguyễn Văn A</p>
              <p class="mb-1">Ngày gửi: 02/07/2023</p>
              <p class="mb-1">Tình trạng: <b>Chưa xử lý</b></p>
              <button class="btn btn-icon position-absolute top-0 end-0 me-3">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                  class="bi bi-info-circle" viewBox="0 0 16 16">
                  <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
                  <path
                    d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0z" />
                </svg>
              </button>

            </div>

          </div>
        </div>
      </div>
    </div>

    <!-- Script -->
    <script src="https://code.jquery.com/jquery-3.7.0.min.js"
      integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"></script>
    <!-- End of Script -->
  </body>

</html>