:root {
  --Neutral-5: #8c8c8c;
  --Dark: #1f274a;
  --Background: #f7fafc;
  --neutral: #8c8c8c;
  --Blue-1: #355ded;
}

* {
  font-family: 'Montserrat', sans-serif;
  color: var(--Dark);
  background-color: var(--Background);
}

.side-bar {
  background-color: #1f274a !important;
}

.main-container {
  border-radius: 12px;
  border: 1px solid var(--Neutral-5);
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px 30px;
  margin-top: 50px !important;
}

.checkbox-container {
  border-radius: 6px;
  border: 1px solid var(--Neutral-5);
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
  margin-top: 10px !important;
}

.header-1 {
  color: #000;
  /* Header 1 */
  /* font-family: 'Lato'; */
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;

  padding-top: 1rem;
}

.dropdown {
  display: flex;
  flex: 1 0 0;
  align-items: center;
  padding: 10px 10px 10px 0;
  gap: 42px;
}

.dropdown-toggle {
  border-radius: 8px;
  border: 1px solid var(--Neutral-5);
  background-color: var(--Background);
  /* font-family: 'Lato'; */
  font-size: 18px;
  color: var(--Dark);
}

.dropdown-toggle:hover {
  background-color: var(--Neutral-5);
  color: var(--Background);
}

.dropdown-menu {
  border-radius: 8px;
  border: 1px solid var(--Neutral-5);
  background: var(--Background);
  gap: 42px;
  width: 100%;
}

.dropdown-item:hover {
  background-color: var(--Neutral-5);
  color: var(--Background);
}

#data-table {
  border-radius: 10px !important;
  border: 1px solid var(--neutral) !important;
  border-bottom: none !important;
  margin-bottom: 3px !important;
  align-items: center !important;
}

#table-header {
  color: var(--Blue-1) !important;
  text-align: center;

  /* Header 4 */
  /* font-family: Lato; */
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 22px; /* 137.5% */
}

td {
  /* Truncate text */
  white-space: nowrap; /* Prevent text from wrapping */
  overflow: hidden; /* Hide overflowing content */
  text-overflow: ellipsis; /* Display an ellipsis (...) to indicate truncated text */
  max-width: 100px; /* Set a maximum width for the table cells */
}

.create-btn{
  align-self: flex-end;
  background-color: #60C98B;
  border: none;
}

.create-btn:hover{
  background-color: #54b17b;
}

.modal{
  background-color: #00000000;
}
.modal-dialog-centered{
  background-color: #00000000;
}

.container-listbar{
  width: 100%;
  height: fit-content;
  padding: 0;
  margin: 1.5rem 0 0 0;
  justify-content: space-between;
  align-items: flex-start;
}

.list-bar {
  width: 18%;
  height: fit-content;
  border: solid #1F274A 1px;
  border-radius: 8px;
  padding: 10px;
  text-align: center;
  top: 0;
}

.list-bar .title{
  text-align: center;
  margin: 0 auto;
  font-size: 26px;
  padding: 5px;
  border-radius: 8px;
  color: #ffffff;
  background-color: #3C77FF;
  width: fit-content;
  height: 50px;
}

.searchBar{
  padding: 8px;
  border-radius: 8px;
  border: solid #1f274a88 1px;
  margin-top: 10px;
}

.searchBar:hover{
  border: solid #1F274A 2px;
}

.searchFill{
  border: none;
  width: 80%;
}

input:focus
{
  /* border: solid #1F274A 2px; */
  outline: none;
}

.list-district{
  margin: 15px 0;
  padding: 5px;
  max-height: 350px;
  overflow-y: auto;
}

.district-box{
  border-radius: 8px;
  border: solid #1f274a 1px;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  margin-bottom: 10px;
}

.district-box:hover{
  background-color: #e2e2e2;
}
/*============= Scroll Bar ========================*/
/* width */
.scroll::-webkit-scrollbar {
  width: 8px;
}

/* Track */
.scroll::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
.scroll::-webkit-scrollbar-thumb {
  background: #1f274a;
  border-radius: 8px;
}

/* Handle on hover */
.scroll::-webkit-scrollbar-thumb:hover {
  background: #27346e;
}
/*============= End Scroll Bar =====================*/